@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #D8D9E4;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}
.app__bloc {
    margin-top: 200px;
}
.app__title {
    font-family: 'Lobster', cursive;
    font-size: 85px;
}

.page1_bloc {
    padding-top: 300px;
}

.page2__title {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
